@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --ff: "Libre Franklin", sans-serif;
  --fw-h1: 700;
  --fw-p: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--ff);
}

h1 {
  font-weight: var(--fw-h1);
  color: var(--Gray);
  font-weight: var(--fw-p);
  font-size: 3rem;
}

p {
  font-weight: var(--fw-p);
  color: var(--Very-Dark-Blue);
  font-size: 1rem;
}

.bold {
  font-weight: var(--fw-h1);
  color: var(--Very-Dark-Blue);
}

.logo {
  width: 100px;
}

.container {
  width: 1300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.container-img {
    width: 600px;
}

.CTA {
    width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.CTA div {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.CTA input {
  flex: 1;
  border: 1px solid var(--Gray);
  border-radius: 2rem;
  padding: 0 1rem;
}

.CTA input.error {
    border: 1px solid var(--Light-Red);
}

.error-msg {
    color: var(--Light-Red);
    display: none;
}

.error-msg.active {
    display: flex;
}

.CTA button {
  background-color: var(--Blue);
  color: white;
  font-family: inherit;
  font-weight: var(--fw-h1);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 1rem 3rem;
}

.CTA button:hover {
    background-color: hsl(223, 84%, 70%);
}



.social-media {
    display: flex;
    gap: 1rem;
}

.social-media i {
    width: 40px;
    height: 40px;
    border: 1px solid var(--Gray);
    border-radius: 100%;
    color: var(--Blue);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-media i:hover {
    background-color: var(--Blue);
    color: white;
}

footer {
  text-align: center;
  color: var(--Gray);
  margin-top: 2rem;
}

@media (max-width: 1100px) {
    body {
        padding: 2rem;
    }
    h1 {
        font-size: 2rem;
    }
    .container {
        width: 90%;
        height: 100%;
    }
    .container-img {
        width: 100%;
    }
    .CTA {
        width: 100%;
        text-align: center;
    }
    .CTA div {
        height: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .CTA button, 
    .CTA input {
        width: 100%;
    }
}